:root {
    --black: #000000;
    --orange: #FFA500;
    --white: #ffffff;
}

body {
    background-color: var(--white);
}

.homePage {
    width: 100px;
}

.homeLink{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: var(--orange);
    border-radius: 5px;
    text-decoration: none;
    color: var(--black);
}