:root {
    --black: #000000;
    --gray: #141414;
    --light-gray: #F4F4F4;
    --white: #ffffff;
}

body {
    background-color: var(--light-gray);
}

.userPage {
    background: linear-gradient(180deg, var(--gray) 0%, var(--light-gray) 100%);
    flex-direction: column;
    display: flex;
    justify-content: center;
    border-top: solid var(--gray) 100px;
    margin: 2% 30%;
    height: 80vh;
    border-radius: 20px;
}

.profilePicture {
    border-radius: 50px;
    display: flex;
    justify-content: center;
}

.userPage img {
    margin-top: -170px;
    width: 150px;
    height: 150px;
    border-radius: 120px;
    border: solid #fff 5px;
}

.userPage form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.userPage label {
    font-weight: bold;
    text-align: left;
    padding: 10px;
}

.userPage input {
    border: solid 1px var(--white);
    border-radius: 5px;
    width: 30vw;
    height: 30px;
    margin-bottom: 20px;
}

.button {
    margin-top: 50px;
}