:root {
    --black: #000000;
    --gray: #141414;
    --white: #ffffff;
}

body {
    background-color: var(--black);
}

.userPage {
    background: linear-gradient(0deg, var(--black) 0%, var(--white) 100%);
    flex-direction: column;
    display: flex;
    justify-content: center;
    border: solid var(--black) 1px;
    border-top: solid var(--gray) 100px;
    margin: 2% 30%;
    height: 80vh;
    border-radius: 50px;
}

.profilePicture {
    border-radius: 50px;
    display: flex;
    justify-content: center;
}

.userPage img {
    border-radius: 100px;
    width: 10vw;
    height: 10vw;
    display: flex;
}

.userPage form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.userPage label {
    text-align: left;
    padding: 15px;
}

.userPage input {
    border: solid 1px var(--black);
    border-radius: 5px;
    width: 30vw;
    height: 30px;
}

.button {
    margin-top: 40px;
}